.page--guitar {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
}

.page__headline {
  margin: 0 0 4rem 0;
  font-size: 5rem;
  letter-spacing: 0.7rem;
  line-height: 1.5;
}

.back-button {
  margin-left: 2%;
}

.back-button__icon {
  font-size: 1.4rem;
  margin-right: 2rem;
}

.mcrai-row {
  width: 100%;
}

.guitar-list-wrapper {
  overflow-x: scroll;
  width: 100%;
  margin-bottom: -2rem;
}

.guitar-list {
  display: flex;
  list-style: none;
  margin: 2rem 0 2.5rem 0;
  cursor: grab;
}

.guitar-list__item--info {
  padding: 0 0 0 10rem;
  position: relative;
}

.guitar-list__item {
  flex: 0 0 auto;
  margin-right: 2rem;
}

.guitar-list__image {
  pointer-events: none;
}


.guitar-params {
  display: block;
}

.guitar-params--first {
  margin-left: 10rem;
}

.guitar-params--second { }

.guitar__button {
  position: absolute;
  right: -9.5rem;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-90deg);
  height: 7.5rem;
  padding: 0 5.5rem;
  letter-spacing: 0.5rem;
  pointer-events: none;
}

.line-bottom:before {
  height: 10rem;
  bottom: -9rem;
  border-width: 0.2rem;
}
