.page__headline {
  margin: 7rem 0 4rem 0;
  font-size: 3.2rem;
  letter-spacing: 1rem;
}

.back-button { }

.back-button__icon {
  font-size: 1.4rem;
  margin-right: 2rem;
}

.mcrai-row {
  width: 100%;
}
