<div class="page page--guitar" #page>
  <a class="back-button" [routerLink]="['/kytary']" mcrai-button>
    <mcrai-icon class="back-button__icon">arrow_left</mcrai-icon>
    zpět
  </a>

  <div class="guitar-list-wrapper" #wrapper>
    <ul class="guitar-list" (pan)="onPan($event)">
      <li class="guitar-list__item guitar-list__item--info" [ngStyle]="infoStyles">
        <h1 class="page__headline">{{ activeGuitar?.name }}</h1>
        <mcrai-row>
          <mcrai-col>
            <mcrai-dl class="guitar-params guitar-params--first">
              <ng-container *ngFor="let param of activeGuitar?.params | slice:0:activeGuitar?.params.length / 2">
                <mcrai-dt>{{ param.name }}</mcrai-dt>
                <mcrai-dd>{{ param.value }}</mcrai-dd>
              </ng-container>
            </mcrai-dl>
          </mcrai-col>
          <mcrai-col horizontal-left>
            <mcrai-dl class="guitar-params guitar-params--second">
              <ng-container *ngFor="let param of activeGuitar?.params | slice:activeGuitar?.params.length / 2">
                <mcrai-dt>{{ param.name }}</mcrai-dt>
                <mcrai-dd>{{ param.value }}</mcrai-dd>
              </ng-container>
            </mcrai-dl>
          </mcrai-col>
        </mcrai-row>
        <button class="guitar__button line-bottom" mcrai-button="positive">
          všechny fotografie
        </button>
      </li>
      <li class="guitar-list__item" *ngFor="let image of activeGuitar?.images | slice:1">
        <mcrai-media
          class="guitar-list__image"
          type="image"
          [data]="image"
          [width]="height / image.height * image.width"
          [height]="height"
        ></mcrai-media>
      </li>
    </ul>
  </div>

</div>
