@import "../../../../../scss/variables";

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list__line {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  height: 0.1rem;
  width: 0;
  background-color: map-get($theme, color-primary);
  transition: width 200ms;
}

.nav-list__item {
  margin: 0;

  @media (min-width: $breakpoint-xs) {
    margin: 0 1rem;
  }

  @media (min-width: $breakpoint-s) {
    margin: 0 2rem;
  }
}

.nav-list__button {
  color: map-get($theme, text-primary);
  position: relative;
  font-size: 1.5rem;

  &:hover, &.nav-list__button--active {
    .nav-list__line {
      width: 100%;
    }
  }
}
