<div class="page">
  <h1 class="page__headline">Kontakt</h1>

  <div class="page__content">
    <h2 class="page__name page__name--contact">Miroslav Menoušek</h2>
    <mcrai-dl>
      <mcrai-dt>Telefon</mcrai-dt>
      <mcrai-dd>+420 704 306 226</mcrai-dd>
      <mcrai-dt>E-mail</mcrai-dt>
      <mcrai-dd>miramen@seznam.cz</mcrai-dd>
      <mcrai-dt>IČO</mcrai-dt>
      <mcrai-dd>75671603</mcrai-dd>
    </mcrai-dl>
    <p>Fyzická osoba podnikající dle živnostenského zákona nezapsaná v obchodním rejstříku.</p>
  </div>

</div>

