<miramen-header></miramen-header>

<miramen-vertical-slider [activeIndex]="verticalActiveIndex">
  <miramen-slide class="line-bottom">
    <miramen-home></miramen-home>
  </miramen-slide>
  <miramen-slide class="motto">
    <miramen-about-me></miramen-about-me>
  </miramen-slide>
  <miramen-slide>
    <miramen-horizontal-slider [activeIndex]="horizontalActiveIndex">
      <miramen-slide>
        <miramen-guitars
          [guitarGroups]="guitarGroups"
          [activeGuitarGroup]="activeGuitarGroup"
          (activeGroupChange)="activeGuitarGroup = $event"
          (guitarChange)="activeGuitar = $event"
        ></miramen-guitars>
      </miramen-slide>
      <miramen-slide class="motto">
        <miramen-guitar [activeGuitar]="activeGuitar"></miramen-guitar>
      </miramen-slide>
    </miramen-horizontal-slider>
  </miramen-slide>
  <miramen-slide class="motto">
    <miramen-contact></miramen-contact>
  </miramen-slide>
</miramen-vertical-slider>
