@import "../../../../../scss/variables";

:host /deep/ {
  .page {
    height: 100%;
    padding: 6% 26% 20% 8%;
  }

  .page__headline {
    font-size: 10rem;
    color: map-get($theme, color-primary);
    font-weight: map-get($theme, font-weight-normal);
    text-transform: uppercase;
    letter-spacing: 2.5rem;
    font-family: map-get($theme, font-primary);
  }

  .page__name {
    margin: 0;
    text-transform: uppercase;
    font-size: 2.3rem;
    letter-spacing: 0.5rem;
    font-weight: map-get($theme, font-weight-normal);
    color: map-get($theme, color-primary);
    font-family: map-get($theme, font-primary);
  }

  .page__content {
    padding: 3% 0 0 10%;
  }
}
