<div class="page">
  <h1 class="page__headline">O mně</h1>

  <div class="page__content">
    <p>
      Hře na kytaru se věnuji téměř 40 let. Kytara pro mne není jen hudební nástroj, ale je jako životní partner,
      který má duši a vyžaduje péči a lásku. Postupem času jsem svůj zájem rozšířil nejen na zvuk a vzhled nástroje,
      ale začal jsem se zajímat i o to, jak různé druhy dřev mají vliv na vlastnosti kytar. To už byl jen krůček k
      tomu, abych se rozhodl, že si zkusím kytaru sám pro sebe postavit. První výtvor z nekvalitního dřeva byl na
      světě. Moc to nehrálo, ale stejně jsem měl radost. Uběhlo více než 10 let, kdy jsem postavil pár desítek
      kytar a neustále je zdokonaloval a dnes si za svými nástroji stojím.
    </p>
    <p>Používám pouze prvotřídní materiál z USA a Španělska.</p>
    <p>Moje nástroje nestačí jenom vidět a slyšet, s nimi Vás bude těšit žít :)</p>
  </div>

</div>

