<div class="page">
  <h1 class="page__headline">O mně</h1>

  <div class="page__content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nesciunt, perferendis? Adipisci dignissimos
      id iusto necessitatibus quidem quod, vel. Aliquam beatae commodi consequuntur enim error est excepturi harum illo,
      impedit in inventore itaque iure libero nesciunt numquam obcaecati odio praesentium quibusdam rem repellendus sit
      soluta vero voluptatum. Asperiores libero pariatur rerum ut. Accusamus accusantium at deserunt labore, odio
      officia, porro quia recusandae repudiandae saepe sit soluta ullam vitae voluptatem voluptates.
    </p>
  </div>

</div>

