@import "scss/variables";
@import "scss/reset";

@font-face {
  font-family: 'Domine';
  src: url('assets/fonts/Domine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Domine';
  src: url('assets/fonts/Domine-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.mcrai-button {
  background-color: transparent;
  text-transform: uppercase;
}
