<div class="page page--guitars" #page>
  <miramen-select-guitar-group
    class="group-selector"
    [groups]="guitarGroups"
    [activeGroup]="activeGuitarGroup"
    (groupChange)="onActiveGroupChange($event)"
  ></miramen-select-guitar-group>

  <div class="guitar-overview" *ngIf="activeGuitarGroup && activeGuitarGroup.guitars.length > 0">
    <ul
      class="guitar-list"
      [ngStyle]="guitarListStyles"
      [@fadeInStagger]="activeGuitarGroup.guitars.length"
      #carousel
    >
      <li class="guitar-list__item" *ngFor="let guitar of activeGuitarGroup?.guitars">
        <a [routerLink]="['/kytary', guitar.url]">
          <miramen-guitar-preview
            [guitar]="guitar"
            [dimensions]="previewDimensions"
          ></miramen-guitar-preview>
        </a>
      </li>
    </ul>
    <button
      class="guital-list__control guital-list__control--prev"
      (click)="prev()"
      [disabled]="isFirst()"
      mcrai-icon-button
    >
      <mcrai-icon>arrow_left</mcrai-icon>
    </button>
    <button
      class="guital-list__control guital-list__control--next"
      (click)="next()"
      [disabled]="isLast()"
      mcrai-icon-button
    >
      <mcrai-icon>arrow_right</mcrai-icon>
    </button>
  </div>

</div>

