@import "../../../../../scss/variables";

.page--guitars {
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

.group-selector {
  display: block;
  flex: 0 0 auto;
}

.guitar-overview {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.guitar-list {
  margin: 4rem 0;
  display: flex;
  list-style: none;
}

.guitar-list__item {
  flex: 0 0 auto;
}

.guital-list__control {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
}

.guital-list__control--prev {
  left: 2rem;
}

.guital-list__control--next {
  right: 2rem;
}

.guital-list__control-icon {
  font-size: 2.4rem !important;
  color: map-get($theme, color-primary);
}

/*

.guitar-overview {
  margin: 4rem 0 2rem 0;
  position: relative;
  width: 100%;
}

.guitar-overview__carousel {
  height: 100%;
}

.guitar-overview__control {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
}

.guitar-overview__control--prev {
  left: 2rem;
}

.guitar-overview__control--next {
  right: 2rem;
}

.guitar-overview__control-icon {
  font-size: 3rem !important;
}
*/
